<h1>Content Editable Component</h1>
{{!-- {{smart-banner  title="MyPage"
                description="MyCompany LLC"
                buttonText="VIEW"
                imageUrl="http://runtriz.com/wp-content/uploads/2015/08/logo.png"}} --}}
{{smart-banner}}
{{outlet}}
